<header class="header">

<div class="container">

<div class="logo">

<a href="/">

Foil Haven

</a>

</div>

<nav>

<ul>

<li>

<a href="/collections/singles">

Singles

</a>

</li>

<li>

<a href="/collections/graded">

Graded

</a>

</li>

<li>

<a href="/collections/sealed">

Sealed

</a>

</li>

<li>

<a href="/pages/sell">

Sell Your Cards

</a>

</li>

</ul>

</nav>

<div class="icons">

<a href="/search">

Search

</a>

<a href="/cart">

Cart

</a>

</div>

</div>

</header>
